<!DOCTYPE html>
<html>

<head>
    <title><%= config.title %></title>
    <%- include('/../node_modules/normalize.css/normalize.css') %>
    <%- include('/style.css') %>
    <style>
        .image { background-size: contain; }
        <% for (var image in images) { %>
            .image-<%= image %> { background: url("<%- images[image] %>"); }
        <% } %>
    </style>
</head>

<body>
    <header>
        <h1><%= config.title %></h1>
        <p><%= config.header %></p>
    </header>
    <main>
        <% for (var i = 0; i < badges.length; ++i) { %>
        <% var badge = badges[i]; %>
        <section class="badge" data-badge-name="<%= badge.name %>">
            <div class="tile">
                <div class="image image-<%= badge.image %>">&nbsp;</div>
                <h2><%= badge.name %></h2>
            </div>
            <div class="profiles">
                <ul>
                    <% for (var j = 0; j < badge.assignments.length; ++j) { %>
                    <% var assignment = badge.assignments[j]; %>
                    <% if (config.showProfileImages) { %>
                    <li class="profile profile-image">
                        <div class="image image-<%= assignment.image %>">&nbsp;</div>
                        <h3><%= assignment.name %> <span class="badge"><%= assignment.n %></span></h3>
                    </li>
                    <% } else { %>
                    <li class="profile">
                        <h3><%= assignment.name %> <span class="badge"><%= assignment.n %></span></h3>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>
        </section>
        <% } %>
    </main>
</body>

</html>